@import url('https://fonts.googleapis.com/css2?family=Anton&family=Odibee+Sans&family=Staatliches&family=Titillium+Web:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body{
 height:100vh; 
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/b1.jpg');
}
html{
  font-size: 100%;
}
.navbar{
  background-color: black;
  font-weight: bold;
}
.navbar .collapse .nav-link:Hover{
  color: red;
}
.navbar .collapse .active{
  color: red;
}
.navbar .collapse .nav-link{
  padding-left: 1vw;
}
.heading{
    color: white;
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
}

.image{
  margin-top:1.6rem;
  margin-bottom:1.6rem;
  display: inline-block;
  margin:auto;
  margin-right:1.6rem;
}
#image1{
  animation: slide_down 8s;
}
#image2{
  animation: slide_right 8s;
}
#image3{
  animation: slide_up 8s;
}
.text{
     font-size: 2rem;
    color: white;
    margin:auto;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .08rem;
    word-spacing: .08rem;	
    padding:1rem;
    color:orange;
    font-weight: bold;
    
    margin-top:1.6rem;
    margin-bottom:1.6rem;
}
 #text1{
    margin-top:2rem;
   animation: scroll1 6s; 
}
#text2{
  animation: scroll2 6s; 
}
#text3{
  animation: scroll3 6s; 
} 
@keyframes scroll1 {
  0%{
    transform: translateX(-50rem);
  }
  
  25%{
    transform: translateX(0);
  }
}
@keyframes scroll2 {
  0%{
    transform: translateX(-50rem);
  }
  
  50%{
    transform: translateX(0);
  }
}
@keyframes scroll3 {
  0%{
    transform: translateX(-50rem);
  }
  
  75%{
    transform: translateX(0);
  }
}

@keyframes slide_down {
  0%{
    transform: translateY(-50rem);
  }
  
  75%{
    transform: translateY(0);
  }
}
@keyframes slide_right {
  0%{
    transform: translateX(-50rem);
  }
  
  75%{
    transform: translateX(0);
  }
}
@keyframes slide_up {
  0%{
    transform: translateY(50rem);
  }
  
  75%{
    transform: translateY(0);
  }
}
@media(max-width:998px){
  html{
    font-size: 65%;
  }
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
}