@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html{
  font-size: 100%;
}
body{
 height:100vh; 
 overflow: hidden;
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/b1.jpg');
}
.navbar{
  background-color: black;
  font-weight: bold;
}
.navbar .collapse .nav-link:Hover{
  color: red;
}
.navbar .collapse .active{
  color: red;
}
.navbar .collapse .nav-link{
  padding-left: 1vw;
}

#Experience{
  width:100%;
  margin:auto;
  padding: 3rem;
}
.title{
  color:white;
  font-size: 3rem;
}
.company{
  color:white;
}

#learnings {
  animation: animate1 5s;
}
#technologies{
  animation: animate2 5s;
}
#contribution{
  animation: animate3 5s;
}
.points{
  padding:.5rem;
  font-family: 'Benne', serif;
  font-size: 1.8rem ;
}
@keyframes animate1 {
    0%{
        transform: translateX(-50rem);
      }
        
    75%{
        transform: translateX(0);
      }     
}
@keyframes animate2 {
  0%{
      transform: translateX(-25rem);
    }
      
  75%{
      transform: translateX(0);
    }     
}
@keyframes animate3 {
  0%{
      transform: translateX(-10rem);
    }
      
  75%{
      transform: translateX(0);
    }     
}
@media(max-width:998px){
  html{
    font-size: 75%;
  }
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
}