@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body{
 height:100vh; 
 background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/b1.jpg');
}
.navbar{
  background-color: black;
  font-weight: bold;
}
.navbar .collapse .nav-link:Hover{
  color: red;
}
.navbar .collapse .active{
  color: red;
}
.navbar .collapse .nav-link{
  padding-left: 1vw;
}
#header{
  width:60%;
  margin: auto;
  text-align: center;
}
#Experience{
  width:90%;
  margin:auto;
  text-transform: justify;
}
.title{
  color:white;
  font-size: 40px;
}
.company{
  color:white;
}
.points{
  color:white;
}
#learnings {
  float:left; 
  width:30%;
  animation: animate1 5s;
}
#technologies{
  float:left; 
  width:23%;
  animation: animate2 5s;
}
#contribution{
  float:right;
  width:45%;
  animation: animate3 5s;
}
.points{
  padding:15px;
  font-family: 'Benne', serif;
  font-size: 1.7vw ;
}
@keyframes animate1 {
    0%{
        transform: translateX(-500px);
      }
        
    75%{
        transform: translateX(0px);
      }     
}
@keyframes animate2 {
  0%{
      transform: translateX(-250px);
    }
      
  75%{
      transform: translateX(0px);
    }     
}
@keyframes animate3 {
  0%{
      transform: translateX(-100px);
    }
      
  75%{
      transform: translateX(0px);
    }     
}