@import url('https://fonts.googleapis.com/css2?family=Anton&family=Odibee+Sans&family=Staatliches&family=Titillium+Web:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body{
  height:100vh;
display:flex;
justify-content: center;
align-items: center;
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/b1.jpg');
}
html{
  font-size: 100%;
}
.navbar{
  background-color: black;
  font-weight: bold;
}

.navbar .collapse .nav-link:Hover{
  color: red;
}
.navbar .collapse .active{
  color: red;
}
.navbar .collapse .nav-link{
  padding-left: 1vw;
}
#Projects{
    width: 90%;
    margin: auto;
}
#project1, #project2, #project5, #project4, #project3{
  animation: animate1 2s;
}
@keyframes animate1{
    0%{
      transform: translateX(-30rem);
    }
    
    75%{
      transform: translateY(0);
    }
  }
  @keyframes animate2{
    0%{
      transform: translateY(-20rem);
    }
    
    75%{
      transform: translateY(0);
    }
  }
  @keyframes animate3{
    0%{
      transform: translateX(30rem);
    }
    
    75%{
      transform: translateY(0);
    }
  }
  @media(max-width:998px){
    html{
      font-size: 65%;
    }
  }
  @media(max-width:768px){
    html{
      font-size: 70%;
    }
  }